@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-button-background: #ffffff; /* 라이트 모드 버튼 배경색 */
  --light-button-text: #000000; /* 라이트 모드 버튼 텍스트 색상 */
  --light-button-hover-background: #f3f4f6; /* 라이트 모드 버튼 hover 배경색 */
  --light-button-hover-text: #1f2937; /* 라이트 모드 버튼 hover 텍스트 색상 */
  --dark-button-background: #374151; /* 다크 모드 버튼 배경색 */
  --dark-button-text: #ffffff; /* 다크 모드 버튼 텍스트 색상 */
  --dark-button-hover-background: #4b5563; /* 다크 모드 버튼 hover 배경색 */
  --dark-button-hover-text: #e5e7eb; /* 다크 모드 버튼 hover 텍스트 색상 */
}

button {
  @apply rounded-md py-2 px-4 border border-transparent text-center text-sm transition-all shadow-md hover:shadow-lg focus:bg-slate-700 focus:shadow-none active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none ml-2 transform active:scale-95;
  @apply bg-slate-200 dark:bg-slate-800 hover:bg-slate-300 dark:hover:bg-slate-600;
}
